.page_body {background-color: #f8f9fa;
    margin-top: 0.5rem;}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    }

.col {background-color: #b0c1c955;
   margin: 5px}

.card-list {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0};

.leftheader {
    float: left
}

.rightheader {
    float: right;
    vertical-align: middle
}

.flex-box-2 {
    display:flex;
    justify-content: flex-end;
}

.comm {
    background-color: #afbfba;
    border: 0;
    margin: 5px
}

