.row {background-color: antiquewhite;
    margin-top: 0.5rem;}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    }

.col {background-color: #DDD;
   margin: 5px}

.card-list {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0}